---

---

<nav class="flex justify-between">
  <p class="text-ctp-text font-bold">ARNOLDART</p>
  <div class="flex gap-3 text-ctp-text font-bold">
    <p>Home</p>
    <p>Project</p>
    <p>Post</p>
    <p>Aboutme</p>
  </div>
</nav>