.section {
    padding-inline: 3rem;
}

.testing {
    font-family: 'Courier New', monospace; /* Mengatur jenis font */
    color: #333; /* Mengatur warna teks */
    background-color: #f0f0f0; /* Mengatur warna latar belakang */
    padding: 4px 6px; /* Mengatur jarak antara teks dan batas elemen */
    border: 1px solid #ccc; /* Mengatur border */
    border-radius: 4px; /* Mengatur sudut elemen */
}

article {
    
}