.card_date_container {
    display: flex;
    gap: .5rem;
    font-size: .8rem;
    color: #8A8A8A;
}

.container_card {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background-color: #1F2335;
    padding: 1rem;
    border-radius: .7rem;
}

.card_title {
    color: white;
}

@media (min-width: 0px) and (max-width: 480px) {
	.container_card {
		flex-direction: column;
	}
}