.Jumbotron {
  display: flex;
  align-items: center;
  background-color: #374150;
  padding: 2rem;
  border-radius: 1rem;
}

.DevPhoto {
  border-radius: 100%;
  border: .5rem solid #fcd34d;
  width:90%;	
}

.Introduction {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.DevDesc {
  color: white;
  font-size: 1.1rem;
  line-height: 1.9rem;
  margin: 1rem 0 0 0;
}

.MeddiumTitle {
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .Jumbotron {
    flex-direction: column;
    text-align: center;
  }

  .DevText {
    margin: 1rem 0 0 0;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 0px) and (max-width: 480px) {
  .Jumbotron {
    flex-direction: column;
    text-align: center;
  }

  .DevText {
    margin: 1rem 0 0 0;
  }

}