.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem 0;
  color: white;
}

.hamburger {
  display: none;
}

.NavDevMenu {
  display: flex;
  align-items: center;
}

.NavDev {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.NavMenuList {
  display: flex;
}

.ListMenu {
  margin: 0 0 0 1rem;
  cursor: pointer;
  transition: 150ms all ease-in-out;
}

.ListMenu:hover {
  color: rgba(252, 211, 77, 1);	;
}

.activeLink {
  color: rgba(252, 211, 77, 1);
  font-weight: 700;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 0px) and (max-width: 480px) {
  
  .Nav {
    flex-direction: column;
  }
  
  .NavDevMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .ListMenu {
    margin: 1rem 0 1rem 0;
  }

  .hamburger {
    display: block;
  }

  .topAndBottomHamburger {
    width: 1.75rem;
    height: 0.125rem;
    background-color: white;
    border-radius: 0.75rem;
  }

  .MiddleHamburger {
    width: 1.75rem;
    height: 0.125rem;
    margin: 0.375rem 0 0.375rem 0;
    background-color:  white;
    border-radius: 0.75rem;
  }


}